lxml
streamlit               # Required for running Streamlit apps
beautifulsoup4          # Required for using BeautifulSoup in 'function_4'
pandas                  # Required for data manipulation
numpy                   # Required for numerical operations
requests                # Required for making HTTP requests (commonly used in web scraping)
scikit-learn            # If you're doing any machine learning tasks
matplotlib              # For plotting and visualizations
selenium
webdriver-manager
selenium webdriver-manager
